<!-- editProduct.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
</head>
<body>

  <h1>Edit Product</h1>
  <img src="http://localhost:3000/<%= product.imagePath %>" alt="photo du produit" width="120" />
  <form action="http://localhost:3000/api/product/<%=product.id%>" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= product.name %>" required>
  
    <label for="description">Description:</label>
    <textarea id="description" name="description" required><%= product.description %></textarea>
  
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="<%= product.price %>" required>
  
    <label for="reference">Reference:</label>
    <input type="text" id="reference" name="reference" value="<%= product.reference %>" required>
  
    <!-- Ajoutez d'autres champs du formulaire si nécessaire -->
  
    <input type="submit" value="button">
  </form>
  

</body>
</html>
